/* global */

a {
    color: black;
}

button:hover {
    cursor: pointer;
}

/* index.html */

.game {
    background-color: lemonchiffon;
    border: solid slateblue;
    padding: 1em;
    width: 150px;
    text-align: center;
}

.game:hover {
    background-color: lightsalmon;
}

/* light_seq.html */
.circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 1em;
}